# Base de datos PostgreSQL
database:
  postgres:
    url: "postgres://danich:danich155@100.111.174.63:5432/greenex?sslmode=disable"
    min_conns: 1
    max_conns: 10
    connect_timeout: "10s"
    healthcheck_interval: "30s"

  sqlserver:
    host: "100.111.174.63" # Producción: 192.168.0.9 -- Desarrollo: 100.111.174.63
    port: 1433
    user: "Danich"
    password: "yb*;NC&5r9U2"
    database: "UNITEC_DB"
    encrypt: "disable"
    trust_cert: true
    app_name: "API-Greenex"
    connect_timeout: 15
    max_conns: 10
    min_conns: 5
    max_conn_lifetime: "30m"
    max_conn_idle_time: "5m"
    sku_sync_interval: "2s" # Intervalo de sincronización de SKUs desde vista (tiempo real)

# Servidor HTTP
http:
  host: "0.0.0.0"
  port: 8081

# Estadísticas de flujo en tiempo real
statistics:
  flow_calculation_interval: 1s # Cada cuántos segundos se calcula y publica el %
  flow_window_duration: 20s # Ventana de tiempo para el cálculo (últimos X segundos)

# Dispositivos Cognex (múltiples)
# IMPORTANTE:
#   - Siempre escuchan en 0.0.0.0 (todas las interfaces)
#   - Se identifican por puerto único
#   - El campo 'host' es solo informativo (IP de la cámara física)
cognex_devices:
  - id: 1
    name: "Cognex Línea 1"
    host: "192.168.121.50" # IP informativa de la cámara física
    port: 9050 # Puerto ÚNICO donde escuchará (0.0.0.0:9050)
    scan_method: "QR" # Método por defecto: QR o DATAMATRIX
    ubicacion: "Línea Principal"
    interval_ms: 1000 # Para simulador: 5 segundos entre lecturas
    no_read_percent: 5 # Para simulador: 5% de errores

  - id: 2
    name: "Cognex Línea 2"
    host: "192.168.121.101" # IP informativa de la cámara física
    port: 8086 # Puerto ÚNICO donde escuchará (0.0.0.0:8086)
    scan_method: "QR" # Método por defecto: QR o DATAMATRIX
    ubicacion: "Línea Secundaria"
    interval_ms: 100 # Para simulador: 10 lecturas/segundo
    no_read_percent: 1 # Para simulador: 1% de errores
  - id: 3
    name: "Cognex salida 1"
    host: "127.0.0.1" # IP informativa de la cámara física
    port: 8087 # Puerto ÚNICO donde escuchará (0.0.0.0:8087)
    scan_method: "DATAMATRIX" # Método por defecto: QR o DATAMATRIX
    ubicacion: "Salida 1"
    interval_ms: 1000 # Para simulador: 1 segundo entre lecturas
    no_read_percent: 5 # Para simulador: 5% de errores

# Sorters (múltiples)
sorters:
  - id: 1
    name: "Sorter Principal"
    plc_endpoint: "opc.tcp://192.168.120.100:4840" # 16 prod
    plc:
      object_id: "ns=4;i=1"
      method_id: "ns=4;i=21"
      #trigger_node_id: "ns=4;i=69"
      input_node_id: "ns=4;i=22"
      output_node_id: "ns=4;i=23"
    palet_automatico:
      host: "127.0.0.1"
      port: 9093
    salidas:
      - id: 1
        physical_id: 1
        nombre: "Salida manual"
        tipo: "manual"
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=27"
          bloqueo_node_id: "ns=4;i=28"
      - id: 2
        physical_id: 2
        nombre: "Salida manual"
        tipo: "manual"
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=32"
          bloqueo_node_id: "ns=4;i=33"
      - id: 3
        physical_id: 3
        nombre: "Salida manual"
        tipo: "manual"
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=37"
          bloqueo_node_id: "ns=4;i=38"
      - id: 4
        physical_id: 4
        nombre: "Salida manual"
        tipo: "manual"
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=42"
          bloqueo_node_id: "ns=4;i=43"
      - id: 5
        physical_id: 5
        nombre: "Salida manual"
        tipo: "manual"
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=48"
          bloqueo_node_id: "ns=4;i=49"
      - id: 6
        physical_id: 6
        nombre: "Salida automatica"
        tipo: "automatica"
        mesa_id: 1
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=52"
          bloqueo_node_id: "ns=4;i=53"
      - id: 7
        physical_id: 7
        nombre: "Salida automatica"
        tipo: "automatica"
        batch_size: 1
        mesa_id: 2
        plc:
          estado_node_id: "ns=4;i=57"
          bloqueo_node_id: "ns=4;i=58"
      - id: 8
        physical_id: 8
        nombre: "Salida automatica"
        tipo: "automatica"
        batch_size: 1
        mesa_id: 3
        plc:
          estado_node_id: "ns=4;i=62"
          bloqueo_node_id: "ns=4;i=63"
      - id: 9
        physical_id: 9
        nombre: "Salida automatica"
        tipo: "automatica"
        batch_size: 1
        mesa_id: 4
        plc:
          estado_node_id: "ns=4;i=67"
          bloqueo_node_id: "ns=4;i=68"
      - id: 10
        physical_id: 10
        nombre: "Salida automatica"
        tipo: "automatica"
        batch_size: 1
        mesa_id: 5
        plc:
          estado_node_id: "ns=4;i=72"
          bloqueo_node_id: "ns=4;i=73"
      - id: 11
        physical_id: 11
        nombre: "Salida automatica"
        tipo: "automatica"
        batch_size: 1
        mesa_id: 6
        plc:
          estado_node_id: "ns=4;i=77"
          bloqueo_node_id: "ns=4;i=78"
      - id: 12
        physical_id: 12
        nombre: "Salida de descarte"
        tipo: "descarte"
        batch_size: 1
        plc:
          estado_node_id: "ns=4;i=82"
          bloqueo_node_id: ""
