# Base de datos PostgreSQL
database:
  postgres:
    url: "postgres://danich:danich155@172.16.100.20:5432/greenex?sslmode=disable"
    min_conns: 1
    max_conns: 10
    connect_timeout: "10s"
    healthcheck_interval: "30s"

  sqlserver:
    host: "190.110.163.22"
    port: 1433
    user: "Danich"
    password: "yb*;NC&5r9U2"
    database: ""
    encrypt: "disable"
    trust_cert: true
    app_name: "API-Greenex"
    connect_timeout: 15
    max_conns: 10
    min_conns: 5
    max_conn_lifetime: "30m"
    max_conn_idle_time: "5m"

# Servidor HTTP
http:
  host: "0.0.0.0"
  port: 8081

# Estadísticas de flujo en tiempo real
statistics:
  flow_calculation_interval: 1s # Cada cuántos segundos se calcula y publica el %
  flow_window_duration: 20s # Ventana de tiempo para el cálculo (últimos X segundos)

# Dispositivos Cognex (múltiples)
# IMPORTANTE:
#   - Siempre escuchan en 0.0.0.0 (todas las interfaces)
#   - Se identifican por puerto único
#   - El campo 'host' es solo informativo (IP de la cámara física)
cognex_devices:
  - id: 1
    name: "Cognex Línea 1"
    host: "127.0.0.1" # IP informativa de la cámara física
    port: 8085 # Puerto ÚNICO donde escuchará (0.0.0.0:8085)
    scan_method: "QR" # Método por defecto: QR o DATAMATRIX
    ubicacion: "Línea Principal"
    interval_ms: 1000 # Para simulador: 1 segundo entre lecturas
    no_read_percent: 5 # Para simulador: 5% de errores

  - id: 2
    name: "Cognex Línea 2"
    host: "127.0.0.1" # IP informativa de la cámara física
    port: 8086 # Puerto ÚNICO donde escuchará (0.0.0.0:8086)
    scan_method: "QR" # Método por defecto: QR o DATAMATRIX
    ubicacion: "Línea Secundaria"
    interval_ms: 100 # Para simulador: 10 lecturas/segundo
    no_read_percent: 1 # Para simulador: 1% de errores
  - id: 3
    name: "Cognex salida 1"
    host: "127.0.0.1" # IP informativa de la cámara física
    port: 8087 # Puerto ÚNICO donde escuchará (0.0.0.0:8087)
    scan_method: "DATAMATRIX" # Método por defecto: QR o DATAMATRIX
    ubicacion: "Salida 1"
    interval_ms: 1000 # Para simulador: 1 segundo entre lecturas
    no_read_percent: 5 # Para simulador: 5% de errores

# Sorters (múltiples)
sorters:
  - id: 1
    name: "Sorter Principal"
    ubicacion: "Planta A - Línea 1"
    cognex_id: 1
    scan_method: "QR"
    salidas:
      - id: 1
        name: "Exportación"
        tipo: "automatico"
        batch_size: 3 # Envía 2 cajas por lote
        cognex_id: 3 # ← Cognex de verificación en esta salida
      - id: 2
        name: "Mercado Nacional"
        tipo: "automatico"
        batch_size: 3 # Envía 5 cajas por lote
      - id: 3
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 4
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 5
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 6
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 7
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1

  - id: 2
    name: "Sorter Secundario"
    ubicacion: "Planta A - Línea 2"
    cognex_id: 2
    scan_method: "QR"
    salidas:
      - id: 8
        name: "Premium"
        tipo: "manual"
        batch_size: 1 # Envía 3 cajas por lote
      - id: 9
        name: "Estándar"
        tipo: "manual"
        batch_size: 1 # Envía 7 cajas por lote
      - id: 10
        name: "Descarte"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 11
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 12
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
      - id: 13
        name: "Rechazo"
        tipo: "manual"
        batch_size: 1 # Manual siempre de 1 en 1
